menu "Squidward WiFi Configuration"

	config CONFIG_WIFI_SSID
		string "WiFi SSID"
		default "test"
		help
			WiFi SSID to connect to.
	
	config CONFIG_WIFI_PASSWORD
		string "WiFi Password"
		default ""
		help
			WiFi password to use.
	
endmenu
